@{
    ViewData["Title"] = "Not Found";
    ViewData["blur"] = true;
}

<div class="container not-found-page">
    <img src="~/img/404.png" class="rounded mx-auto d-block" alt="Not found page" />
</div>